@use '../../styles/src/var.scss' as *;
@use '../../styles/name.scss' as *;

$component: 'Settings';

@include buildView($component) {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  @include buildWrap($component, 'left') {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    border-left: 2px solid $bg-color-light;
    border-right: 2px solid $bg-color-light;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .common_list {
      height: 48px;
      width: calc(14vw + 5px);
      border-bottom: 2px solid $bg-color-light;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-sizing: border-box;
      padding: 0 16px;
      font-weight: 700;
      font-size: 14px;
    }
    @include build('left', 'title') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 46px;
      font-size: 18px;
      letter-spacing: 1px;
      box-sizing: border-box;
      font-weight: 700;
      // border-right: 2px solid $bg-color-light;
      box-sizing: border-box;
      .el-button{
        color: $icon-color;
      }
      span {
        background-image: linear-gradient(120deg, $theme-color-2 30%, $theme-color-1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
    @include build('left', 'main') {
      height: calc(100% - 46px);
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include buildWrap('left', 'list') {
        height: 100%;
        width: calc(14vw + 5px);
        border-right: 2px solid $bg-color-light;
        box-sizing: border-box;
        .common_img {
          height: 18px;
          width: 18px;
          margin-right: 16px;
        }
        .list {
          color: $icon-color;
          cursor: pointer;
          transition: all 150ms ease-in-out;
          &:hover {
            color: #fff;
            background-color: $active-list-color;
          }
        }
      }
      @include buildWrap('right', 'list') {
        height: 100%;
        width: calc(100% - 14vw - 5px);
        // border-top: 2px solid $bg-color-light;
        box-sizing: border-box;
        .common_img {
          height: 18px;
          width: 18px;
          margin-right: 16px;
        }
        .edit_setting{
          outline: none;
          display: inline-block;
          
        }
        .list {
          width: 100%;
          color: $icon-color;
          cursor: pointer;
          transition: all 150ms ease-in-out;
          &:hover {
            color: #fff;
            background-color: $active-list-color;
          }
        }
      }
    }
  }
  @include buildWrap($component, 'right') {
    height: 100%;
    position: relative;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden;
    .code_editor {
      height: 96%;
      width: 100%;
      display: inline-block;
      outline: none;
    }
  }
}
