/**
* ============================================
* @author:syf20020816@outlook.com
* @since:20230330
* @version:1.0.0
* @type:scss
* @description:定义全局使用的变量
* ============================================
*/
$bg-color-dark:#161920;
$bg-color-light:#232932;
$force-color:#222532;
$bg-color-dark-deep:#111621;
$bg-color-dark-weak:#111725c4;

$theme-color-1 : #F600A3;
$theme-color-2 : #5E00B1;
$theme-color-3 : #16002A;
$primary-color : #222532;