/**
* ============================================
* @author:syf20020816@outlook.com
* @since:20230330
* @version:1.0.0
* @type:scss
* @description:定义全局使用的变量
* ============================================
*/
$bg-color-dark:#161920;
$bg-color-light:#232932;

$force-color:#222532;
$bg-color-dark-deep:#111621;
$bg-color-dark-weak:#1B1E27;
$bg-color-dark-weak2:#282b34;
$icon-color:#8B8EA2;
$active-color:#BD0B80;

$theme-color-1 : #F600A3;
$theme-color-2 : #5E00B1;
$theme-color-3 : #16002A;
$primary-color : #222532;
$active-list-color:#212531;