@use "../../styles/name.scss" as *;
@use "../../styles/src/var.scss" as *;

$component: "Header";

@include buildView($component) {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 0 16px;
  border-bottom: 2px solid $bg-color-light;
  @include buildWrap($component, "left") {
    height: 100%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    border-right: 2px solid $bg-color-light;
    @include build("left", "logo") {
      height: 32px;
      width: 32px;
      margin: 8px;
    }
  }
  .common_img {
    height: 18px;
    width: 18px;
  }
  @include buildWrap($component, "right") {
    width: 68%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include build("right", "left") {
      height: 100%;
      width: 16%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .el-button {
        padding: 8px !important;
        margin: 0px 16px;
      }
    }
    @include build("right", "right") {
      height: 100%;
      width: 84%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .common_img2 {
        height: 18px;
        width: 18px;
        margin-right: 8px;
      }
    }
  }
}

@include buildWrap($component,'main'){
  position: relative;
  height: 50vh;
  overflow: hidden;
  background-color: $primary-color;
  
  .circle{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    height: 60%;
    width: 100%;
    border-radius: 50%;
    background-image: linear-gradient(120deg , $theme-color-1 , $theme-color-2);   
    display: flex;
    align-items: center;
    justify-content: center;
    .inner{
      height: 96%;
      width: 96%;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
  .circle2{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    width: 100%;
    border-radius: 50%;
    background-image: linear-gradient(120deg , $theme-color-1 , $theme-color-2);   
    display: flex;
    align-items: center;
    justify-content: center;
    .inner{
      height: 96%;
      width: 96%;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
  @include buildWrap($component,'info'){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    width: 100%;
    .logo{
    
      height: 42%;
      width: auto;
    }
    .title1{
      margin: 12px 0;
      height:auto ;
      font-size: 40px;
      font-weight: 700;
      color: $icon-color;
    }
    .title2{
      height: auto;
      font-size: 28px;
      font-weight: 700;
      color: $icon-color;
    }
    .infos{
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: calc(58% - 100px);
      flex-wrap: wrap;
      span{
        width: 100%;
        color: $icon-color;
      }
      
    }
  }
}
.el-dialog__header{
  background-color: $primary-color;
}
.el-dialog__body{
  background-color: $primary-color;
}

.el-dialog {
  background-color: $primary-color;
}